body{
    font-family: Arial, sans-serif;
    background-color: black;
    margin: 0%;
    padding: 0%;
}
header{
    background-color: blueviolet;
    color: aliceblue;
    text-align: center;
    padding: 12px 0;
}
.friends-list{
    list-style-type: none;
    padding: 0;
    margin: 20px;

}
.friends-list li {
    margin-bottom: 10px;
}
.friends-list li a{
    text-decoration: none;
    color: #000;
    display: block;
    padding: 10px;
    background-color: beige;
    border-radius: 5px;
    transition: background-color 0.3s ease;

}

.friends-list li a:hover {
    background-color: #000;
}